<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Social Login Test Page</h1>
</div>
<div>
    <a href="http://ec2-15-165-63-80.ap-northeast-2.compute.amazonaws.com:8080/oauth2/authorization/google" role="button">Google Login</a>
    <a href="http://ec2-15-165-63-80.ap-northeast-2.compute.amazonaws.com:8080/oauth2/authorization/naver" role="button">Naver Login</a>
    <a href="http://ec2-15-165-63-80.ap-northeast-2.compute.amazonaws.com:8080/oauth2/authorization/kakao" class="btn btn-third active" role="button">Kakao Login</a>

    <h1>No! this is Server</h1>
</div>

</body>
</html>